# Node
node_modules/
npm-debug.log

# React
frontend/node_modules/
build/
dist/

# C++
cpp-service/build/
cpp-service/bin/
*.o
*.out

#Uploaded images
backend-node/uploads

# macOS
.DS_Store

# Docker
*.pid

# VS Code
.vscode/
